<div class = container>
  <div class = abouttext>
    <h1>About RubySite</h1>
    <p>In order to learn Ruby on Rails, Git, and Heroku I’m building an e-Commerce site. I’m working on developing some chops as a Web Designer. I want this site to put the fun back in functional by making it colourful and vibrant, while also being easy to use. I’m also getting some awesome web developer skills along the way.</p>
    <p>The end game for this site is that people will want to shop at my fake online store.</p>
  </div>
  
</div>  
