// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepic {
  position:relative;
  max-width:100vw;
  height:100%;
}

.homepic .img-responsive {
  max-height: 90vh;
  width: 100%;
}

.vinyltext h1 {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding-top:13.5%;  
  text-align:center;
  font-size:9vw;
}
.vinyltext h3 {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding-top:25%;  
  text-align:center;
  font-size:4vw;
}

.abouttext {
  margin: auto;
  margin-top: 20%;
  background-color: #f4ff81;
  width: 300px;
  padding: 10px;
}
